:root {
  --size-thumbnail-font-80: 23px !important;
}
.ui-kit-upload {
  .container-upload {
    overflow: hidden;
    height: 100px;
    max-height: 100px;
    position: relative;
    background-color: var(--bw-50);
    border: 1px dashed var(--p-600);
    border-radius: 10px;
    padding: 24px 20px;
    div.content-show-upload {
      position: absolute;
      width: 100%;
      article.select-or-drag,
      article.description {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      article.select-or-drag {
        i.ui-kit-icon {
          color: var(--p-600);
          margin-right: 4px;
        }
        small {
          color: var(--text-1);
          &.highlight {
            color: var(--p-600);
            margin-right: 4px;
          }
        }
      }
      article.description {
        margin-top: 10px;
        color: var(--text-1);
        font-size: 16px;
      }
    }
    .p-fileupload {
      .p-fileupload-choose {
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        top: 0;
        left: 0;
        opacity: 0;
        .p-fileupload-basic,
        .p-fileupload-choose {
          width: 100%;
          height: 100%;
        }
      }
      .p-fileupload-buttonbar {
        border: none;
        background-color: transparent;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        margin-top: -37px;
        padding: 20px 0px;
      }
      .p-fileupload-content {
        border: none;
        background-color: transparent;
        margin-top: 30px;
        height: 10px;
        p-progressbar {
          position: absolute;
          width: 118px;
          top: -14px;
          right: 15px;
          .p-progressbar-value {
            background-color: var(--p-600);
          }
        }
        .p-fileupload-files {
          .ng-star-inserted {
            width: auto;
          }
        }
      }
    }
  }
  .list-chip-files {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    ui-kit-chip {
      .chip-container {
        margin: 2px 3px;
        .p-chip-icon {
          background-color: var(--bw-50);
          border-radius: 50%;
          font-size: 16px !important;
          padding: 3px;
        }
      }
    }
  }
  .list-thumbnail-files {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    ui-kit-thumbnail {
      margin-bottom: 3px;
      p-avatar {
        img {
          height: auto !important;
          width: 120% !important;
        }
      }
    }
    .p-avatar-icon {
      font-size: 17px !important;
    }
  }
  &.view-carousel {
    display: flex;
    .container-upload {
      margin-top: 10px;
      width: 100px;
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
      padding: 0px;
      .content-show-upload {
        height: 100%;
        .select-or-drag {
          height: 100%;
        }
        .container-upload-more {
          height: 100%;
          display: flex;
          align-items: center;
          .upload-more {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            small {
              text-align: center;
              font-size: 12px;
            }
          }
        }
      }
      p-progressbar {
        width: 68px !important;
        top: -6px !important;
        right: 5px !important;
      }
    }
  }
}
.ui-kit-error-uploader {
  margin-top: 20px;
  .p-message {
    width: 100%;
  }
}
