<mat-form-field [formGroup]="formGroup">
  <ui-kit-inline-edit>
    <label viewDisplay> {{ formGroup.get("name")?.value }} </label>
    <ui-kit-textfiled
      [formGroup]="formGroup"
      [controlName]="'name'"
      viewContent
    ></ui-kit-textfiled>
  </ui-kit-inline-edit>

  <ui-kit-inline-edit>
    <label viewDisplay> {{ formGroup.get("phone")?.value }} </label>
    <ui-kit-input-mask
      mask="999-999-99-99"
      viewContent
      [formGroup]="formGroup"
      [controlName]="'phone'"
    ></ui-kit-input-mask>
  </ui-kit-inline-edit>

  <ui-kit-radio-button
    [label]="'Masculino'"
    [formGroup]="formGroup"
    [controlName]="'gender'"
    [value]="'M'"
  ></ui-kit-radio-button>

  <ui-kit-radio-button
    [label]="'Fenemino'"
    [formGroup]="formGroup"
    [controlName]="'gender'"
    [value]="'F'"
  ></ui-kit-radio-button>

  <ui-kit-select
    [formGroup]="formGroup"
    [controlName]="'country'"
    [label]="'Country'"
    [options]="[
      { value: 'Australia', key: 'AU' },
      { value: 'Brazil', key: 'BR' },
      { value: 'China', key: 'CN' },
      { value: 'Egypt', key: 'EG' },
      { value: 'France', key: 'FR' },
      { value: 'Germany', key: 'DE' },
      { value: 'India', key: 'IN' },
      { value: 'Japan', key: 'JP' },
      { value: 'Spain', key: 'ES' },
      { value: 'United States', key: 'US' }
    ]"
  ></ui-kit-select>

  <ui-kit-textfiled
    [formGroup]="formGroup"
    [optionValue]="'code'"
    [label]="'Address'"
    [controlName]="'address'"
    [controlNameDropdown]="'city'"
    [options]="[
      { name: 'Australia', code: 'AU' },
      { name: 'Brazil', code: 'BR' },
      { name: 'China', code: 'CN' },
      { name: 'Egypt', code: 'EG' },
      { name: 'France', code: 'FR' },
      { name: 'Germany', code: 'DE' },
      { name: 'India', code: 'IN' },
      { name: 'Japan', code: 'JP' },
      { name: 'Spain', code: 'ES' },
      { name: 'United States', code: 'US' }
    ]"
  ></ui-kit-textfiled>

  <ui-kit-select-multiple
    [formGroup]="formGroup"
    [controlName]="'destiny'"
    label="Destiny"
    [selectedOptions]="[
      { value: 'Egypt', key: 'EG' },
      { value: 'France', key: 'FR' },
      { value: 'Germany', key: 'DE' }
    ]"
    [options]="[
      { value: 'Australia', key: 'AU' },
      { value: 'Brazil', key: 'BR' },
      { value: 'China', key: 'CN' },
      { value: 'Egypt', key: 'EG' },
      { value: 'France', key: 'FR' },
      { value: 'Germany', key: 'DE' },
      { value: 'India', key: 'IN' },
      { value: 'Japan', key: 'JP' },
      { value: 'Spain', key: 'ES' },
      { value: 'United States', key: 'US' }
    ]"
  >
  </ui-kit-select-multiple>
  <ui-kit-textarea
    [label]="'Description'"
    [formGroup]="formGroup"
    [controlName]="'description'"
    [width]="'100px'"
  ></ui-kit-textarea>

  <ui-kit-checkbox
    [formGroup]="formGroup"
    [controlName]="'selection1'"
    [label]="'Selection 1'"
    [alignment]="'horizontal'"
    [position]="'right'"
    [size]="'small'"
    [data]="[
      {
        disabled: false,
        label: 'label test',
        controlName: 'selection1'
      },
      {
        disabled: false,
        label: 'label test 2',
        controlName: 'selection2'
      }
    ]"
  >
  </ui-kit-checkbox>
  <ui-kit-slider
    [formGroup]="formGroup"
    [controlName]="'range'"
    [range]="true"
    [max]="100"
    [min]="0"
    [format]="'currency'"
  ></ui-kit-slider>

  <ui-kit-switch
    [formGroup]="formGroup"
    [controlName]="'state'"
    [size]="'small'"
  ></ui-kit-switch>
</mat-form-field>
